body {
   background: #DAE3E7;
   padding: 10px;
   /* border: 25px solid; */
   font-family: 'Lato', arial, sans-serif;
   margin: 20px;
}
a{
   color: #434343;
}
#top {
   background-color: #DAE3E7;
   background: white;
   height: 35%;
   margin: 20px;
   border-radius: 20px;
}
#intro{
   margin: 29px;
   display: block;
   font-size: 16px;
   padding: 20px;
}
h1{
   color: #434343;
   font-size: 38px;
   margin-bottom: 5px;
   margin-top: 30px;
   padding-top: 10px;
   font-family: 'Montserrat', sans-serif;
}
h2{
   color: #778492;
   font-size: 26px
}
img {
   border-radius: 50%;
   float: left;
   width: 15%;
   margin: 15px;
}
li{
   padding-right: 25px;
   margin-right: 9px;
   list-style: none;
   display: inline;
   font-size: 30px;
   padding-top: 10px;
   border-radius: 50%;
   color: #fff;
   text-align: center;
}
.round-corners{
   border-radius: 20px;
   /* background-color: #DAE3E7; */
   background: white;
   margin: 20px;
}
.inner{
   padding: 20px;
}
#id{
   border:2px black;
}
p,i,li{
   font-family:'Lato', arial, sans-serif;
}
#all_content{
   padding-top:21px
}
.form-control2{
   margin-bottom:20px;
}
.timeEl{
   color:#495057;font-size:12px
}
